{% extends 'base.html' %}

{% block title %}
    Обо мне
{% endblock %}

{% block content %}
    {% if request.user.is_staff %}
        <div class="row">
            <div class="col-12 mx-auto mt-5 text-center">
                <span class="text-muted mr-3">ADMIN:</span>
                <a href="{{ about.get_delete_url }}" class="btn btn-danger">Удалить</a>
                <a href="{{ about.get_update_url }}" class="btn btn-warning">Править</a>
            </div>
        </div>
    {% endif %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ about.photo }}" class="img-fluid rounded-start" alt="I">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ about.title }}</h5>
                    <p class="card-text">{{ about.text }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}