{% extends  "base.html" %}
{% load  solo_tags %}

{% block content %}
    {% get_solo 'about.About' as about %}
    <h2 class="mt-5 text-center">Обо мне</h2>
        {% if about.first_name != 'Имя' %}
            <div class="card mb-3 mt-5 mx-auto">
                <div class="row g-0">
                    {% if about.image %}
                        <div class="col-md-4">
                            <img src="{{ about.image.url }}" class="img-fluid rounded-start" alt="my photo">
                        </div>
                    {% endif %}
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center py-3">{{ about.first_name }} {{ about.last_name }} {{ about.middle_name }}</h5>
                            <p class="card-text px-3">{{ about.about_us }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            Информация не заполнялась
        {% endif %}

{% endblock content %}